body{
    margin: 20px;
}
header{
    background-color: lightcoral;
    height: 40px;
    text-align: center;
}
.parent{
    display: flex;
    flex-flow: row;
}
.aside1{
    background-color: yellow;
    height: 200px;
    width: 30%;
    text-align: center;
}
.mid{
    background-color: skyblue;
    height: 200px;
}
.aside2{
    background-color: pink;
    height: 200px;
    width: 30%;
    text-align: center;
}
footer{
    margin-top: -19px;
    background-color: lightgreen;
    height: 40px;
    text-align: center;
}
@media (max-width:800px){
    .parent{
        display: flex;
        flex-flow: row wrap;
    }
    .aside1{
        background-color: yellow;
        height: 50px;
        width: 50%;
        text-align: center;
        order: 2;
    }
    .mid{
        background-color: skyblue;
        height: 200px;
        order: 1;
    }
    .aside2{
        background-color: pink;
        height: 50px;
        width: 50%;
        text-align: center;
        order: 3;
    }
}
@media (max-width:600px){
    .parent{
        display: flex;
        flex-flow: row wrap;
    }
    .aside1{
        background-color: yellow;
        height: 50px;
        width: 100%;
        text-align: center;
        order: 2;
    }
    .mid{
        background-color: skyblue;
        height: 200px;
        order: 1;
        overflow: scroll;
    }
    .aside2{
        background-color: pink;
        height: 50px;
        width: 100%;
        text-align: center;
        order: 3;
    }
}